@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Belleza", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.header .box-img {
  position: absolute;
  width: 930px;
  height: auto;
  top: 180px;
  right: -30px;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 80%;
  overflow: hidden;
}
.header .box-img .main-img {
  width: 100%;
  height: 100%;
  transition: transform 2s;
}
.header .breithBackground {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 1800px; /* Szerokość obszaru */
  height: 1800px; /* Wysokość obszaru */
  background: radial-gradient(circle at center, rgba(222, 73, 120, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.5; /* Początkowa przezroczystość */
  transition: opacity 0.6s; /* Czas trwania animacji */
}
.header .nav-desktop {
  display: flex;
  justify-content: space-around;
}
.header .nav-desktop .navbar-title {
  position: relative;
  margin: 30px;
  margin-right: 350px;
  text-align: left;
}
.header .nav-desktop .navbar-title .flag {
  position: absolute;
  top: 5px;
  left: 90px;
  width: 50px;
  height: auto;
  animation: ikonAnimation 2s linear infinite;
}
.header .nav-desktop .navbar-title .title {
  font-size: 2rem;
  text-decoration: none;
  color: rgba(17, 8, 15, 0.7411764706);
}
.header .nav-desktop .navbar-title .title span {
  display: block;
  font-size: 2.8rem;
  color: rgba(17, 8, 15, 0.7411764706);
}
@keyframes ikonAnimation {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px) translateY(-2px);
  }
  0% {
    transform: translateX(0px) translateY(0px);
  }
}
.header .nav-desktop .nav-bar {
  margin: 10px;
  margin-top: 50px;
  margin-left: 50px;
}
.header .nav-desktop .nav-bar .nav-item {
  position: relative;
  font-size: 1.5rem;
  margin: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6235294118);
  transition: transform 1s, color 0.2s;
  /* Kolor dla drugiego elementu */
  /* Kolor dla trzeciego elementu */
  /* Kolor dla drugiego elementu */
  /* Kolor dla trzeciego elementu */
}
.header .nav-desktop .nav-bar .nav-item:nth-child(1) {
  color: rgb(125, 194, 36);
}
.header .nav-desktop .nav-bar .nav-item:nth-child(2) {
  color: rgb(128, 0, 85);
}
.header .nav-desktop .nav-bar .nav-item:nth-child(3) {
  color: rgb(50, 133, 161);
}
.header .nav-desktop .nav-bar .nav-item:nth-child(4) {
  color: rgb(255, 0, 195);
}
.header .nav-desktop .nav-bar .nav-item:nth-child(5) {
  color: yellow;
}
.header .nav-desktop .nav-bar .nav-item:nth-child(6) {
  color: royalblue;
}
.header .nav-desktop .nav-bar .nav-item:nth-child(7) {
  color: rgb(255, 0, 149);
}
.header .nav-desktop .nav-bar .nav-item:before {
  content: "";
  position: absolute;
  top: -38px;
  left: -5px;
  width: 3px;
  height: 200%;
  background-color: rgb(228, 101, 122);
  transition: top 0.3s;
  color: white;
  opacity: 0;
}
.header .nav-desktop .nav-bar .nav-item::after {
  content: "";
  color: rgb(228, 101, 122);
}
.header .nav-desktop .nav-bar .nav-item:hover::before {
  top: -10px;
  color: rgb(228, 101, 122);
  opacity: 1;
}
.header .nav-desktop .nav-bar .nav-item:hover::after {
  color: rgb(228, 101, 122);
  opacity: 1;
}
.header .nav-desktop .nav-bar .nav-item:hover {
  color: rgb(228, 101, 122);
}
.header .nav-mobile {
  display: none;
}
.header .burger {
  display: none;
}
.header .header-text {
  position: relative;
  margin: 50px;
  margin-top: 240px;
  margin-left: 100px;
}
.header .header-text .h1Header {
  margin-left: 10px;
  color: #723d46;
  font-weight: bold;
  font-size: 3rem;
}
.header .header-text .h1Header .h1-span {
  display: block;
  color: rgb(228, 101, 122);
}
.header .header-text .headerP {
  font-size: 1.5rem;
  margin: 10px;
}
.header .header-text .headerP2 {
  position: absolute;
  top: 180px;
  left: 0px;
  font-size: 1rem;
  margin: 10px;
}
.header .header-text .a-contact-button {
  width: 50px;
  height: 10px;
}
.header .header-text .a-contact-button .contact-button {
  position: absolute;
  top: 230px;
  left: 10px;
  background-color: rgb(228, 101, 122);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: background-color 0.3s ease;
}
.header .header-text .a-contact-button .contact-button:hover {
  background-color: #2980b9;
}
.header .header-text .a-contact-button .a-contact-button {
  text-decoration: none;
}
.header .header-text .a-contact-button .shadow-img {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offers2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.offers2 .h2Offers2 {
  margin: 2em;
  text-transform: uppercase;
  font-size: 2.1rem;
}

.offers2 .offers2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 10em;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.offers2-container .breithBackground4 {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 1800px; /* Szerokość obszaru */
  height: 1800px; /* Wysokość obszaru */
  background: radial-gradient(circle at center, rgba(222, 73, 120, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.5; /* Początkowa przezroczystość */
  transition: opacity 0.6s; /* Czas trwania animacji */
}

.offers2 .offers2-container .offers2-box {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 100%;
}

.offers2-box2 .breithBackground5 {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 1800px; /* Szerokość obszaru */
  height: 1800px; /* Wysokość obszaru */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.5; /* Początkowa przezroczystość */
  transition: opacity 0.6s; /* Czas trwania animacji */
}

.offers2 .offers2-container .box-img {
  position: relative;
  width: 100%;
  height: 500px;
  order: 0;
}

.offers2 .offers2-container .box-img-right {
  position: relative;
  width: 100%;
  height: 500px;
}

.offers2 .offers2-container .offers2-box .offers2-img {
  position: absolute;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25%;
  transition: transform 0.5s;
}

.offers2 .offers2-container .offers2-box .offers2-img:hover {
  transform: scale(1.05);
}

.offers2 .offers2-container .offers2-box .box-img .offers2-img-right {
  order: 0;
  z-index: 1;
}

.offers2 .offers2-container .offers2-box .offers2-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.offers2 .offers2-container .offers2-box .offers2-info .offers2-heading {
  text-align: center;
  font-size: 2rem;
}

.offers2 .offers2-container .offers2-box .offers2-info .offers2-text {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

.offers2 .offers2-container .offers2-box .offers2-info .offers2-button {
  margin-top: 1em;
  width: 100%;
  max-width: 100%;
  height: 36px;
  background-color: rgb(71, 218, 101);
  font-size: 1rem;
  border: 1px solid rgb(71, 218, 101);
  box-shadow: 0px 0px 3px 3px rgb(71, 218, 101);
  border-radius: 5px;
  z-index: 0;
  cursor: pointer;
}

.offers2 .offers2-container .offers2-box .offers2-info .offers2-button::before {
  background-color: rgb(29, 210, 65);
}

@media (min-width: 576px) {
  .offers2-header .offers2Header-text {
    margin-left: auto;
    margin-right: auto;
  }
  .offers2 .h2Offers2 {
    text-align: center;
  }
  .offers2 .offers2-container .offers2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    width: 90%;
  }
  .offers2 .offers2-container .offers2-box .offers2-img {
    width: 90%;
  }
  .offers2 .offers2-container .offers2-box .offers2-info .offers2-text {
    text-align: center;
  }
  .offers2 .offers2-container .offers2-box .offers2-info .offers2-button {
    width: 80%;
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .offers2 .offers2-button {
    height: 36px;
  }
}
@media (min-width: 1200px) {
  .offers2 .offers2-container .box-img {
    position: relative;
    width: 100%;
    height: 500px;
    order: 0;
  }
  .offers2 .offers2-container .box-img-right {
    position: relative;
    width: 100%;
    height: 500px;
    order: 1;
  }
  .offers2-header {
    height: 42em;
    background-image: url(/dist/img/avenue-2215317_1920.jpg);
  }
  .offers2-header .offers2Header-text {
    margin-left: 20em;
    margin-right: auto;
  }
  .offers2 .offers2-container .offers2-box {
    display: flex;
    flex-direction: row;
    margin: 5em;
    width: 80%;
  }
  .offers2 .offers2-container .offers2-box .offers2-img {
    width: 80%;
    position: absolute;
    min-width: 450px;
    z-index: 1;
    transition: top 0.3s;
  }
  .offers2 .offers2-container .offers2-box .offers2-img-right {
    order: 1;
  }
  .offers2 .offers2-container .offers2-box .offers2-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5em;
  }
} 
.offers {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}
.offers .h2Offers {
  text-align: center;
  margin: 50px;
  font-size: 2.6rem;
}
.offers .h3Offers {
  margin: 50px;
  text-align: center;
}
.offers .offers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.offers .offers-container .offers-box {
  position: relative;
  flex-wrap: wrap;
  width: 450px;
  height: 500px;
  background-color: pink;
  margin: 30px;
  background-image: url(../img/Jbudka.jpg);
  background-size: cover;
  transition: transform 0.5s;
  cursor: pointer;
  border-radius: 20%;
}
.offers .offers-container .offers-box .offers-box-h3 {
  position: absolute;
  top: -50px; /* Przesunięcie wertykalne do środka elementu */
  left: 50%; /* Przesunięcie poziome do środka elementu */
  transform: translate(-50%, -50%); /* Centrowanie w obu kierunkach */
  margin-top: 0; /* Resetowanie marginesu górnego */
  /* ... pozostałe style ... */
  z-index: 2;
  font-size: 2rem;
  color: black;
  transition: opacity 0.2s 0.2s;
}
.offers .offers-container .offers-box:hover {
  transform: scale(1.05);
}
.offers .offers-container .offers-box:hover .offersView2 {
  opacity: 1;
  transition-delay: 0.2s;
}
.offers .offers-container .offers-box:hover .offers-box-h3 {
  opacity: 0;
}
.offers .offers-container .offers-box:hover .offersView3 {
  opacity: 1;
}
.offers .offers-container .offers-box:hover .offersView6 {
  opacity: 1;
}
.offers .offers-container .offers-box .offersView {
  font-size: 1rem;
  border-radius: 20%;
}
.offers .offers-container .offers-box .offersView2 {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #f6ecc4;
  background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
  background-size: cover;
  transition: opacity 1s;
}
.offers .offers-container .offers-box .offersView2 .shadow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.offers .offers-container .offers-box .offersView2 .offers-box-p {
  width: 90%;
  margin-top: 80px;
  line-height: 1.5;
  z-index: 1;
  color: rgb(0, 0, 0);
  font-size: 0.89rem;
}
.offers .offers-container .offers-box .offersView2 .offers-box-p-2 {
  margin-top: 200px;
}
.offers .offers-container .offers-box .offersView2 .offers-box-p-3 {
  margin-top: 150px;
}
.offers .offers-container .offers-box .offersView3 {
  background-size: cover;
  background-position: -200px 0px;
  border-radius: 20%;
}
.offers .offers-container .offers-box .offersView6 {
  background-color: #e290bc;
  background-size: cover;
}
.offers .offers-container .offers-box2 {
  margin-top: 100px;
  background-image: url(../img/J3.jpg);
}
.offers .offers-container .offers-box3 {
  margin-top: 200px;
  background-image: url(../img/england.jpg);
  background-position: -50px 0;
}

.about-us {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  height: 750px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  overflow: hidden;
}
.about-us .about-us-img {
  display: flex;
  position: absolute;
  top: 300px;
  right: -260px;
  width: 1000px;
  height: auto;
  transition: top 3s;
}
.about-us .h2About-us {
  text-align: center;
}
.about-us .about-us-container {
  display: flex;
  justify-content: flex-start;
  margin: 50px;
  margin-top: 150px;
  margin-left: 150px;
  width: 30%;
  height: 100%;
}
.about-us .about-us-container .breithBackground2 {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 1800px; /* Szerokość obszaru */
  height: 1800px; /* Wysokość obszaru */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.6; /* Początkowa przezroczystość */
  transition: opacity 0.6s; /* Czas trwania animacji */
}
.about-us .about-us-container .about-us-text .about-us-p {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}
.about-us .about-us-container .about-us-text .h3Aboutus {
  color: #723d46;
  font-size: 2.8em;
  padding: 10px;
  padding-left: 0px;
}
.about-us .about-us-container .about-us-text .aboutusP {
  line-height: 1.5;
}

.oferts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.oferts .h2Oferts {
  text-align: center;
  text-transform: uppercase;
  color: rgba(11, 11, 11, 0.8666666667);
  margin: 50px;
  padding: 0.8em;
  font-size: 2.1rem;
}

.offers-pictures-box .offers-pictures-img {
  transition: transform 1s;
}

.oferts .h3Oferts {
  text-align: center;
  margin-bottom: 120px;
  color: rgba(11, 11, 11, 0.8666666667);
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.oferts .oferts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.oferts .oferts-container .oferts-box {
  height: 210px;
  min-width: 290px;
  max-width: 290px;
  margin: 2em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.oferts .oferts-container .oferts-box .h3Box {
  text-align: center;
  width: 80%;
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.oferts .oferts-container .oferts-box .h2BxPrice {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.oferts .oferts-container .oferts-box .h2BxPrice span {
  font-size: 2.3rem;
}

.oferts .oferts-container .oferts-box .oferts-info {
  margin: 11px;
  text-align: center;
  font-size: 1.2rem;
}

.oferts .oferts-container .oferts-box .oferts-info .fa-check {
  color: rgb(71, 218, 101);
}

.oferts .oferts-container .oferts-box .oferts-info2 {
  color: rgba(21, 21, 21, 0.633);
}

.oferts .oferts-container .oferts-box .boxButton {
  margin: 12px;
  width: 60%;
  height: 20%;
  height: 20%;
  border: none;
  border-radius: 8px;
  background-color: white;
  font-size: 1.1rem;
  font-family: "Raleway";
  font-weight: 200;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.oferts .oferts-container .oferts-box .boxButtonMiddle {
  margin: 12px;
  width: 60%;
  height: 20%;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0px 0px 3px 0px rgb(230, 101, 122);
  background-color: rgb(228, 101, 122);
  font-size: 1.1rem;
  font-family: "Raleway";
  font-weight: 200;
  cursor: pointer;
}

.oferts .oferts-container .oferts-box .boxButtonMiddle::before {
  background-color: rgb(29, 210, 65);
}

.oferts .oferts-container .oferts-box .boxButton::before {
  background-color: rgba(186, 179, 179, 0.7960784314);
}

.oferts .oferts-container .oferts-box:hover {
  transform: scale(1.05);
}

.oferts .moreOferts {
  margin: 3em;
  text-align: center;
  font-size: 1.5rem;
}

.oferts .moreOferts .moreOfertsA {
  color: rgba(11, 11, 11, 0.8666666667);
  text-transform: uppercase;
  transition: color 0.3s;
}

.oferts .moreOferts .moreOfertsA:before {
  background-color: rgb(29, 210, 65);
  border-radius: 5px;
}

.oferts .moreOferts .moreOfertsA:hover {
  color: white;
}

@media (min-width: 772px) {
  .oferts .whole-oferts-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 150px;
  }
  .oferts .h2Oferts {
    font-size: 2.3rem;
  }
  .offers-pictures-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .offers-pictures-box .offers-pictures-img {
    width: 75%;
    height: auto;
  }
  .oferts .oferts-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .oferts .oferts-container .oferts-box {
    margin-top: 0;
    height: 190px;
    width: 30%;
    min-width: 290px;
    max-width: 290px;
  }
}
.prices {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 150px;
  font-family: "Roboto", sans-serif;
}
.prices .prices-h2 {
  text-align: center;
  margin: 50px;
  font-size: 2.3rem;
}
.prices .prices-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prices .prices-container .card {
  position: relative;
  min-width: 300px;
  max-width: 350px;
  height: 500px;
  margin: 20px 80px;
  perspective: 800px;
}
.prices .prices-container .card .card-h3 {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
}
.prices .prices-container .img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  transition: 0.8s;
}
.prices .prices-container .one {
  background-image: url(../img/books-5937716_640.jpg);
}
.prices .prices-container .two {
  background-image: url(../img/notebook-2178656_640.jpg);
}
.prices .prices-container .three {
  background-image: url(../img/english-2724442_640.jpg);
  background-size: cover;
  background-position: -69px 0;
}
.prices .prices-container .text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  background-image: linear-gradient(315deg, #fee2f8, #dcf8cf 74%);
  opacity: 0;
  transition: 0.8s;
}
.prices .prices-container h3 {
  margin-top: 260px;
  margin-bottom: 20px;
  font-size: 2rem;
}
.prices .prices-container p {
  font-size: 1.5rem;
}
.prices .prices-container .text-one {
  transform: rotateX(-180deg);
}
.prices .prices-container .text-two {
  transform: rotateY(-180deg);
}
.prices .prices-container .card:hover .text {
  transform: rotate(0);
  opacity: 1;
}
.prices .prices-container .card:hover .one {
  transform: rotateX(180deg);
  opacity: 0;
}
.prices .prices-container .card:hover .two {
  transform: rotateY(-180deg);
  opacity: 0;
}
.prices .prices-container .card:hover .three {
  animation: up 0.8s;
}
.prices .prices-container .card:hover .text-three {
  animation: down 0.8s;
}
@keyframes up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
    z-index: -1;
  }
  50% {
    transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}

.terms-and-conditions {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.terms-and-conditions .terms-and-conditions-container {
  width: 100%;
  height: 100%;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.terms-and-conditions .terms-and-conditions-container .breithBackground3 {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 1800px; /* Szerokość obszaru */
  height: 1800px; /* Wysokość obszaru */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0.5; /* Początkowa przezroczystość */
  transition: opacity 0.6s; /* Czas trwania animacji */
}
.terms-and-conditions .terms-and-conditions-container .terms-and-conditions-text-container {
  padding-bottom: 50px;
  width: 75%;
}
.terms-and-conditions .terms-and-conditions-container .terms-and-conditions-text-container .terms-h2 {
  text-align: center;
  font-size: 2.3rem;
  margin: 50px;
}
.terms-and-conditions .terms-and-conditions-container .terms-and-conditions-text-container li {
  margin: 20px;
  font-size: 1.2rem;
}
.terms-and-conditions .terms-and-conditions-container .terms-and-conditions-text-container h3 {
  padding: 30px;
  font-size: 1.5rem;
}

.opinions {
  height: 100%;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  font-family: "Noto Serif", serif;
}
.opinions .h2-opinions {
  text-align: center;
  padding: 50px;
  font-size: 2.3rem;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: #f6ecc4;
  background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
  font-family: "Roboto", sans-serif;
}
.contact .h2-contact {
  padding: 50px;
  text-align: center;
  font-size: 2.3rem;
}
.contact .contact-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-box-container .contact-box {
  display: flex;
  justify-content: space-around;
}
.contact .contact-box-container .contact-box .contactP {
  margin: 30px;
  font-size: 1.5rem;
  transition: color 0.5s;
  padding-left: 10px;
}
.contact .contact-box-container .contact-box .contactP .fa-brands {
  font-size: 1.5rem;
  margin-right: 10px !important;
}
.contact .contact-box-container .contact-box .contactP .fa-square-phone {
  margin-right: 10px;
  font-size: 1.5rem;
}
.contact .contact-box-container .contact-box .contactP .fa-envelope {
  margin-right: 10px;
}
.contact .contact-box-container .contact-box .contactP:hover {
  color: #fff;
}

.footer {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
}
.footer .footer-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.footer .footer-container .footer-title {
  position: relative;
  margin: 30px;
  margin-right: 350px;
}
.footer .footer-container .footer-title .flag {
  position: absolute;
  top: 5px;
  left: 105px;
  width: 80px;
  height: auto;
  animation: ikonAnimation 2s linear infinite;
}
.footer .footer-container .footer-title .ftitle {
  font-size: 2rem;
  text-decoration: none;
  color: rgba(17, 8, 15, 0.7411764706);
}
.footer .footer-container .footer-title .ftitle span {
  display: block;
  font-size: 2.8rem;
  color: rgba(17, 8, 15, 0.7411764706);
}
.footer .footer-container .footer-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-container .footer-box-container .footer-box {
  display: flex;
  justify-content: space-around;
}
.footer .footer-container .footer-box-container .footer-box .footerP {
  margin: 30px;
  font-size: 1.5rem;
  transition: color 0.5s;
}
.footer .footer-container .footer-box-container .footer-box .footerP .fa-brands {
  font-size: 1.5rem;
}
.footer .footer-container .footer-box-container .footer-box .footerP .fa-soild {
  font-size: 1.5rem;
}
.footer .footer-container .footer-box-container .footer-box .footerP:hover {
  color: #fff;
}
.footer .footer-bootom-text {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 1.5rem;
}
.footer .footer-bootom-text .footer-year {
  margin-right: 10px;
}
.footer .footer-bootom-p {
  text-align: center;
}

@media (min-width: 0px) and (max-width: 992px) {
  .header {
    position: relative;
    width: 100%;
    height: 1000px !important;
    overflow: hidden;
  }
  .header .box-img {
    position: absolute;
    width: 350px !important;
    height: auto;
    top: 260px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 60%;
    overflow: hidden;
  }
  .header .box-img .main-img {
    width: 100%;
    height: 100%;
    transition: transform 2s;
  }
  .header .breithBackground {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 1800px; /* Szerokość obszaru */
    height: 1800px; /* Wysokość obszaru */
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 0.5; /* Początkowa przezroczystość */
    transition: opacity 0.6s; /* Czas trwania animacji */
  }
  .header .nav-desktop {
    display: flex;
    justify-content: center;
  }
  .header .nav-desktop .navbar-title {
    text-align: center;
    position: relative;
    margin: 0px !important;
    padding: 20px;
    margin-right: 0px;
    width: 100%;
  }
  .header .nav-desktop .navbar-title .flag {
    position: absolute;
    top: 5px;
    left: 90px;
    width: 50px;
    height: auto;
    animation: ikonAnimation 2s linear infinite;
  }
  .header .nav-desktop .navbar-title .title {
    align-self: center;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    text-decoration: none;
    color: rgba(17, 8, 15, 0.7411764706);
  }
  .header .nav-desktop .navbar-title .title span {
    display: block;
    font-size: 2.8rem;
    margin-left: 10px;
    color: rgba(17, 8, 15, 0.7411764706);
  }
  @keyframes ikonAnimation {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-2px) translateY(-2px);
    }
    0% {
      transform: translateX(0px) translateY(0px);
    }
  }
  .header .nav-desktop .nav-bar {
    display: none;
    margin: 10px;
    margin-top: 50px;
    margin-left: 50px;
  }
  .header .nav-desktop .nav-bar .nav-item {
    position: relative;
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6235294118);
    transition: transform 1s, color 0.2s;
  }
  .header .nav-desktop .nav-bar .nav-item:before {
    content: "";
    position: absolute;
    top: -38px;
    left: -5px;
    width: 3px;
    height: 200%;
    background-color: white;
    transition: top 0.3s;
    color: white;
    opacity: 0;
  }
  .header .nav-desktop .nav-bar .nav-item::after {
    content: "";
    color: white;
  }
  .header .nav-desktop .nav-bar .nav-item:hover::before {
    top: -10px;
    color: white;
    opacity: 1;
  }
  .header .nav-desktop .nav-bar .nav-item:hover::after {
    color: white;
    opacity: 1;
  }
  .header .nav-desktop .nav-bar .nav-item:hover {
    color: white;
  }
  .header .nav-mobile {
    display: flex;
    position: fixed;
    padding-top: 50px;
    text-align: center;
    height: 100vh;
    width: 100%;
    top: -1018px;
    right: 0px;
    list-style: none;
    margin-top: -190px;
    transition: transform 0.3s;
    background-color: white;
    overflow: hidden;
    z-index: 20;
  }
  .header .nav-mobile .nav-bar2 .a {
    display: block;
    margin: 1em;
    padding: 10px 30px;
    font-size: 1.2rem;
    color: rgba(11, 11, 11, 0.8666666667);
    text-decoration: none;
    overflow: hidden;
    /* Kolor dla drugiego elementu */
    /* Kolor dla trzeciego elementu */
    /* Kolor dla drugiego elementu */
    /* Kolor dla trzeciego elementu */
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(1) {
    color: rgb(125, 194, 36);
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(2) {
    color: rgb(128, 0, 85);
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(3) {
    color: rgb(50, 133, 161);
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(4) {
    color: rgb(255, 0, 195);
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(5) {
    color: yellow;
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(6) {
    color: royalblue;
  }
  .header .nav-mobile .nav-bar2 .a:nth-child(7) {
    color: rgb(255, 0, 149);
  }
  .header .nav-mobile-active {
    transform: translateY(1208px);
  }
  .header .burger {
    display: flex;
    position: fixed;
    top: 56px;
    right: 30px;
    font-size: 45px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(145, 156, 147);
    transition: transform 0.3s;
    z-index: 500;
  }
  .header .header-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    margin-top: 390px;
    margin-left: 0px;
  }
  .header .header-text .h1Header {
    margin-left: 0px;
    color: #723d46;
    font-weight: bold;
    font-size: 3rem;
  }
  .header .header-text .h1Header .h1-span {
    top: 150px;
    display: block;
  }
  .header .header-text .headerP {
    font-size: 1.2rem;
    margin: 10px;
  }
  .header .header-text .headerP2 {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
    margin: 10px;
  }
  .header .header-text .a-contact-button .contact-button {
    top: 245px;
    left: 50%;
    transform: translate(-50%);
  }
  .about-us {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    overflow: hidden;
  }
  .about-us .about-us-img {
    display: none;
    position: absolute;
    top: 300px;
    right: -260px;
    width: 1000px;
    height: auto;
    transition: top 0.2s;
  }
  .about-us .h2About-us {
    font-size: 2rem;
    text-align: center;
  }
  .about-us .about-us-container {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
  .about-us .about-us-container .about-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .about-us .about-us-container .about-us-text .about-us-p {
    margin: 20px;
    text-align: center;
    text-align: left;
    font-size: 1.86rem;
  }
  .about-us .about-us-container .about-us-text .h3Aboutus {
    margin: 20px;
    text-align: center;
    font-size: 2.3em;
    padding: 10px;
    padding-left: 0px;
  }
  .about-us .about-us-container .about-us-text .aboutusP {
    line-height: 1.5;
  }
  .prices {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .prices .prices-h2 {
    text-align: center;
    margin: 50px;
    font-size: 2.3rem;
  }
  .prices .prices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices .prices-container .card {
    position: relative;
    min-width: 300px;
    max-width: 350px;
    height: 500px;
    margin: 10px;
    margin-bottom: 100px;
    perspective: 800px;
  }
  .prices .prices-container .card .card-h3 {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    margin: 10px;
  }
  .prices .prices-container .img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    transition: 0.8s;
  }
  .prices .prices-container .text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(315deg, #fee2f8, #dcf8cf 74%);
    opacity: 0;
    transition: 0.8s;
  }
  .prices .prices-container h3 {
    margin-top: 260px;
    margin-bottom: 20px;
  }
  .prices .prices-container .text-one {
    transform: rotateX(-180deg);
  }
  .prices .prices-container .text-two {
    transform: rotateY(-180deg);
  }
  .prices .prices-container .card:hover .text {
    transform: rotate(0);
    opacity: 1;
  }
  .prices .prices-container .card:hover .one {
    transform: rotateX(180deg);
    opacity: 0;
  }
  .prices .prices-container .card:hover .two {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  .prices .prices-container .card:hover .three {
    animation: up 0.8s;
  }
  .prices .prices-container .card:hover .text-three {
    animation: down 0.8s;
  }
  @keyframes up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-60%);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes down {
    0% {
      transform: translateY(0);
      z-index: -1;
    }
    50% {
      transform: translateY(60%);
      z-index: -1;
    }
    100% {
      z-index: 1;
    }
  }
  .offers {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
  }
  .offers .h2Offers {
    text-align: center;
    margin: 50px;
    font-size: 2.6rem;
  }
  .offers .h3Offers {
    margin: 50px;
    text-align: center;
    font-size: 1rem;
  }
  .offers .offers-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .offers .offers-container .offers-box {
    position: relative;
    flex-wrap: wrap;
    width: 450px;
    height: 500px;
    background-color: pink;
    margin: 30px;
    background-image: url(../img/Jbudka.jpg);
    background-size: cover;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 20%;
  }
  .offers .offers-container .offers-box .offers-box-h3 {
    position: absolute;
    top: -50px; /* Przesunięcie wertykalne do środka elementu */
    left: 50%; /* Przesunięcie poziome do środka elementu */
    transform: translate(-50%, -50%); /* Centrowanie w obu kierunkach */
    margin-top: 0; /* Resetowanie marginesu górnego */
    /* ... pozostałe style ... */
    z-index: 2;
    font-size: 2rem;
    color: black;
    transition: opacity 0.2s 0.2s;
  }
  .offers .offers-container .offers-box:hover {
    transform: scale(1.05);
  }
  .offers .offers-container .offers-box:hover .offersView2 {
    opacity: 1;
    transition-delay: 0.2s;
  }
  .offers .offers-container .offers-box:hover .offers-box-h3 {
    opacity: 0;
  }
  .offers .offers-container .offers-box:hover .offersView3 {
    opacity: 1;
  }
  .offers .offers-container .offers-box:hover .offersView6 {
    opacity: 1;
  }
  .offers .offers-container .offers-box .offersView {
    font-size: 1rem;
    border-radius: 20%;
  }
  .offers .offers-container .offers-box .offersView2 {
    border-radius: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #f6ecc4;
    background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
    background-size: cover;
    transition: opacity 1s;
  }
  .offers .offers-container .offers-box .offersView2 .shadow-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  .offers .offers-container .offers-box .offersView2 .offers-box-p {
    width: 90%;
    margin-top: 30px;
    line-height: 1.5;
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
  }
  .offers .offers-container .offers-box .offersView2 .offers-box-p-2 {
    margin-top: 200px;
  }
  .offers .offers-container .offers-box .offersView2 .offers-box-p-3 {
    margin-top: 150px;
  }
  .offers .offers-container .offers-box .offersView3 {
    background-size: cover;
    background-position: -200px 0px;
    border-radius: 20%;
  }
  .offers .offers-container .offers-box .offersView6 {
    background-color: #e290bc;
    background-size: cover;
  }
  .offers .offers-container .offers-box2 {
    margin-top: 100px;
    background-image: url(../img/J3.jpg);
  }
  .offers .offers-container .offers-box3 {
    margin-top: 100px;
    background-image: url(../img/england.jpg);
    background-position: -50px 0;
  }
  .contact {
    width: 100%;
    height: 600px;
    background-color: #f6ecc4;
    background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
  }
  .contact .h2-contact {
    padding: 50px !important;
    text-align: center;
    font-size: 2.3rem;
  }
  .contact .contact-box-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact .contact-box-container .contact-box {
    display: flex;
    flex-direction: column;
  }
  .contact .contact-box-container .contact-box .contactP {
    margin: 30px;
    font-size: 1.5rem;
    transition: color 0.5s;
  }
  .contact .contact-box-container .contact-box .contactP .fa-brands {
    font-size: 1.5rem;
  }
  .contact .contact-box-container .contact-box .contactP .fa-soild {
    font-size: 1.5rem;
  }
  .contact .contact-box-container .contact-box .contactP:hover {
    color: #fff;
  }
  .footer {
    width: 100%;
    height: 100%;
    margin-top: -50px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    overflow: hidden;
  }
  .footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .footer .footer-container .footer-title {
    align-self: center;
    width: 100%;
    position: relative;
    padding: 20px;
    margin: 0px;
    margin-right: 0px;
  }
  .footer .footer-container .footer-title .flag {
    position: none;
    top: 6px;
    left: 100px;
    width: 60px;
    height: auto;
    margin-left: 20px;
    animation: ikonAnimation 2s linear infinite;
  }
  .footer .footer-container .footer-title .ftitle {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(17, 8, 15, 0.7411764706);
  }
  .footer .footer-container .footer-title .ftitle span {
    display: block;
    font-size: 2rem !important;
    margin-left: 10px;
    color: rgba(17, 8, 15, 0.7411764706);
  }
  .footer .footer-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-box-container .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-box-container .footer-box .footerP {
    margin: 30px;
    font-size: 1.5rem;
    transition: color 0.5s;
  }
  .footer .footer-box-container .footer-box .footerP .fa-brands {
    font-size: 1.5rem;
  }
  .footer .footer-box-container .footer-box .footerP .fa-soild {
    font-size: 1.5rem;
  }
  .footer .footer-box-container .footer-box .footerP:hover {
    color: #fff;
  }
  .footer .footer-bootom-text {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.5rem;
  }
  .footer .footer-bootom-text .footer-year {
    margin-right: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1320px) {
  .about-us .about-us-container .about-us-img {
    right: -450px;
  }
}
@media (min-width: 993px) and (max-width: 1412px) {
  .header {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
  }
  .header .box-img {
    position: absolute;
    width: 650px;
    height: auto;
    top: 350px;
    right: -30px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 80%;
    overflow: hidden;
  }
  .header .box-img .main-img {
    width: 100%;
    height: 100%;
    transition: transform 2s;
  }
  .header .breithBackground {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 1800px; /* Szerokość obszaru */
    height: 1800px; /* Wysokość obszaru */
    background: radial-gradient(circle at center, rgba(222, 73, 120, 0.705) 0%, rgba(255, 255, 255, 0) 50%);
    opacity: 0.5; /* Początkowa przezroczystość */
    transition: opacity 0.6s; /* Czas trwania animacji */
  }
  .header .nav-desktop {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .header .nav-desktop .navbar-title {
    position: absolute;
    top: 0px;
    left: 30px;
    margin: 30px;
    margin-right: 350px;
    margin-left: 10px;
  }
  .header .nav-desktop .navbar-title .title {
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: rgba(17, 8, 15, 0.7411764706);
    white-space: nowrap;
  }
  .header .nav-desktop .navbar-title .title span {
    display: block;
    font-size: 2.8rem;
    color: rgba(17, 8, 15, 0.7411764706);
  }
  @keyframes ikonAnimation {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-2px) translateY(-2px);
    }
    0% {
      transform: translateX(0px) translateY(0px);
    }
  }
  .header .nav-desktop .nav-bar {
    margin: 10px;
    margin-top: 50px;
    margin-right: 100px;
    white-space: wrap;
  }
  .header .nav-desktop .nav-bar .nav-item {
    position: relative;
    font-size: 1.2rem;
    margin: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6235294118);
    transition: transform 1s, color 0.2s;
    /* Kolor dla drugiego elementu */
    /* Kolor dla trzeciego elementu */
    /* Kolor dla drugiego elementu */
    /* Kolor dla trzeciego elementu */
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(1) {
    color: rgb(125, 194, 36);
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(2) {
    color: rgb(128, 0, 85);
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(3) {
    color: rgb(50, 133, 161);
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(4) {
    color: rgb(255, 0, 195);
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(5) {
    color: yellow;
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(6) {
    color: royalblue;
  }
  .header .nav-desktop .nav-bar .nav-item:nth-child(7) {
    color: rgb(255, 0, 149);
  }
  .header .nav-desktop .nav-bar .nav-item:before {
    content: "";
    position: absolute;
    top: -38px;
    left: -5px;
    width: 3px;
    height: 200%;
    background-color: rgb(228, 101, 122);
    transition: top 0.3s;
    color: white;
    opacity: 0;
  }
  .header .nav-desktop .nav-bar .nav-item::after {
    content: "";
    color: rgb(228, 101, 122);
  }
  .header .nav-desktop .nav-bar .nav-item:hover::before {
    top: -10px;
    color: rgb(228, 101, 122);
    opacity: 1;
  }
  .header .nav-desktop .nav-bar .nav-item:hover::after {
    color: rgb(228, 101, 122);
    opacity: 1;
  }
  .header .nav-desktop .nav-bar .nav-item:hover {
    color: rgb(228, 101, 122);
  }
  .header .nav-mobile {
    display: none;
  }
  .header .burger {
    display: none;
  }
  .header .header-text {
    position: relative;
    min-width: 50%;
    margin: 50px;
    margin-top: 240px;
    margin-left: 100px;
  }
  .header .header-text .h1Header {
    margin-left: 10px;
    color: #723d46;
    font-weight: bold;
    font-size: 3rem;
  }
  .header .header-text .h1Header .h1-span {
    display: block;
    color: rgb(228, 101, 122);
  }
  .header .header-text .headerP {
    font-size: 1.5rem;
    margin: 10px;
  }
  .header .header-text .headerP2 {
    position: absolute;
    top: 180px;
    left: 0px;
    font-size: 1rem;
    margin: 10px;
  }
  .header .header-text .a-contact-button {
    width: 50px;
    height: 10px;
  }
  .header .header-text .a-contact-button .contact-button {
    position: absolute;
    top: 230px;
    left: 10px;
    background-color: rgb(228, 101, 122);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: background-color 0.3s ease;
  }
  .header .header-text .a-contact-button .contact-button:hover {
    background-color: #2980b9;
  }
  .header .header-text .a-contact-button .a-contact-button {
    text-decoration: none;
  }
  .header .header-text .a-contact-button .shadow-img {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}/*# sourceMappingURL=style.css.map */