// @use './animations.scss';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	height: 100%;
	font-family: 'Belleza', sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	position: relative;
	width: 100%;
	height: 800px;

	background-color: #fff;
	// background-image: linear-gradient(315deg, #eee8e6 0%, #fbf7e9 74%);

	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	.box-img {
		position: absolute;
		width: 930px;

		height: auto;
		top: 180px;
		right: -30px;
		// border-radius: 50%;
		border-top-left-radius: 80%;
		border-top-right-radius: 80%;
		border-bottom-right-radius: 0%;
		border-bottom-left-radius: 80%;
		overflow: hidden;

		.main-img {
			width: 100%;
			height: 100%;
			transition: transform 2s;
			// object-position: 30px 0px;
		}
	}
	.breithBackground {
		content: '';
		position: absolute;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		width: 1800px; /* Szerokość obszaru */
		height: 1800px; /* Wysokość obszaru */
		background: radial-gradient(
			circle at center,
			rgba(222, 73, 120, 0.705) 0%,
			rgba(255, 255, 255, 0) 50%
		);
		opacity: 0.5; /* Początkowa przezroczystość */
		transition: opacity 0.6s; /* Czas trwania animacji */
	}
	.nav-desktop {
		display: flex;
		justify-content: space-around;

		.navbar-title {
			position: relative;
			margin: 30px;
			margin-right: 350px;
			text-align: left;

			.title {
				font-size: 2rem;
				text-decoration: none;
				color: #11080fbd;

				span {
					display: block;
					font-size: 2.8rem;
					// margin-left: 10px;
					color: #11080fbd;
				}
			}
			@keyframes ikonAnimation {
				0% {
					transform: translateX(0);
				}
				10% {
					transform: translateX(-2px) translateY(-2px);
				}

				0% {
					transform: translateX(0px) translateY(0px);
				}
			}
		}
		.nav-bar {
			margin: 10px;
			margin-top: 50px;
			margin-left: 50px;
			.nav-item {
				position: relative;
				font-size: 1.5rem;
				margin: 10px;

				text-decoration: none;
				color: #0000009f;

				transition: transform 1s, color 0.2s;
				&:nth-child(1) {
					color: rgb(125, 194, 36);
				}

				/* Kolor dla drugiego elementu */
				&:nth-child(2) {
					color: rgb(128, 0, 85);
				}

				/* Kolor dla trzeciego elementu */
				&:nth-child(3) {
					color: rgb(50, 133, 161);
				}
				&:nth-child(4) {
					color: rgb(255, 0, 195);
				}

				/* Kolor dla drugiego elementu */
				&:nth-child(5) {
					color: yellow;
				}

				/* Kolor dla trzeciego elementu */
				&:nth-child(6) {
					color: royalblue;
				}
				&:nth-child(7) {
					color: rgb(255, 0, 149);
				}

				&:before {
					content: '';
					position: absolute;
					top: -38px;
					left: -5px;
					width: 3px;
					height: 200%;
					background-color: rgb(228, 101, 122);
					transition: top 0.3s;
					color: white;
					opacity: 0;
				}
				&::after {
					content: '';
					color: rgb(228, 101, 122);
				}
			}
			.nav-item:hover::before {
				top: -10px;
				color: rgb(228, 101, 122); // Dodaj zmianę koloru tekstu
				opacity: 1;
			}
			.nav-item:hover::after {
				color: rgb(228, 101, 122);
				opacity: 1;
			}
			.nav-item:hover {
				color: rgb(228, 101, 122);
			}
		}
	}

	.nav-mobile {
		display: none;
	}
	.burger {
		display: none;
	}

	.header-text {
		position: relative;
		margin: 50px;
		margin-top: 240px;
		margin-left: 100px;
		.h1Header {
			margin-left: 10px;
			color: #723d46;
			font-weight: bold;
			font-size: 3rem;
			.h1-span {
				display: block;
				color: rgb(228, 101, 122);
			}
		}
		.headerP {
			font-size: 1.5rem;
			margin: 10px;
		}
		.headerP2 {
			position: absolute;
			top: 180px;
			left: 0px;
			font-size: 1rem;
			margin: 10px;
		}
		.a-contact-button {
			// position: absolute;
			// top: 300px;

			width: 50px;
			height: 10px;

			.contact-button {
				position: absolute;
				top: 230px;
				left: 10px;

				background-color: rgb(228, 101, 122);
				border: none;
				color: white;
				padding: 10px 20px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				border-top-left-radius: 25px;
				border-bottom-left-radius: 25px;
				border-top-right-radius: 25px;
				border-bottom-right-radius: 25px;
				transition: background-color 0.3s ease; // Dodaj animację zmiany koloru tła
				&:hover {
					background-color: #2980b9; // Zmiana koloru tła po najechaniu kursorem
				}
			}

			// Dodatkowy styl dla klasy a-contact-button
			.a-contact-button {
				text-decoration: none;
			}

			// Dodatkowy styl dla klasy shadow-img (jeśli jest potrzebny)
			.shadow-img {
				// Dodaj style cienia obrazu
				box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.offers2 {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.offers2 .h2Offers2 {
	margin: 2em;
	text-transform: uppercase;
	font-size: 2.1rem;
	// font-weight: 300;
	// color: rgba(11, 11, 11, 0.8666666667);
}
.offers2 .offers2-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 10em;

	height: 100%;
	width: 100%;
	background-color: #fff;
}

.offers2-container .breithBackground4 {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-50%, -50%);
	width: 1800px; /* Szerokość obszaru */
	height: 1800px; /* Wysokość obszaru */
	background: radial-gradient(
		circle at center,
		rgba(222, 73, 120, 0.705) 0%,
		rgba(255, 255, 255, 0) 50%
	);
	opacity: 0.5; /* Początkowa przezroczystość */
	transition: opacity 0.6s; /* Czas trwania animacji */
}
.offers2 .offers2-container .offers2-box {
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 100%;
}
.offers2-box2 .breithBackground5 {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-50%, -50%);
	width: 1800px; /* Szerokość obszaru */
	height: 1800px; /* Wysokość obszaru */
	background: radial-gradient(
		circle at center,
		rgba(255, 255, 255, 0.705) 0%,
		rgba(255, 255, 255, 0) 50%
	);
	opacity: 0.5; /* Początkowa przezroczystość */
	transition: opacity 0.6s; /* Czas trwania animacji */
}

.offers2 .offers2-container .box-img {
	position: relative;
	width: 100%;
	height: 500px;
	order: 0;
}
.offers2 .offers2-container .box-img-right {
	position: relative;
	width: 100%;
	height: 500px;
}

.offers2 .offers2-container .offers2-box .offers2-img {
	position: absolute;
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 25%;

	transition: transform 0.5s;
}
.offers2 .offers2-container .offers2-box .offers2-img:hover {
	transform: scale(1.05);
}
.offers2 .offers2-container .offers2-box .box-img .offers2-img-right {
	order: 0;
	z-index: 1;
}
.offers2 .offers2-container .offers2-box .offers2-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	margin-top: 100px;
	margin-bottom: 100px;
}
.offers2 .offers2-container .offers2-box .offers2-info .offers2-heading {
	text-align: center;
	// margin-top: 1em;
	// margin-bottom: 1em;
	font-size: 2rem;
}
.offers2 .offers2-container .offers2-box .offers2-info .offers2-text {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1rem;
}

@media (min-width: 576px) {
	.offers2-header .offers2Header-text {
		margin-left: auto;
		margin-right: auto;
	}
	.offers2 .h2Offers2 {
		text-align: center;
	}
	.offers2 .offers2-container .offers2-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2em;
		width: 90%;
	}
	.offers2 .offers2-container .offers2-box .offers2-img {
		width: 90%;
	}
	.offers2 .offers2-container .offers2-box .offers2-info .offers2-text {
		text-align: center;
	}
	.offers2 .offers2-container .offers2-box .offers2-info .offers2-button {
		width: 80%;
		max-width: 80%;
	}
}

@media (min-width: 1200px) {
	.offers2 .offers2-container .box-img {
		position: relative;
		width: 100%;
		height: 500px;
		order: 0;
	}
	.offers2 .offers2-container .box-img-right {
		position: relative;
		width: 100%;
		height: 500px;

		order: 1;
	}
	.offers2-header {
		height: 42em;
		background-image: url(/dist/img/avenue-2215317_1920.jpg);
	}
	.offers2-header .offers2Header-text {
		margin-left: 20em;
		margin-right: auto;
	}
	.offers2 .offers2-container .offers2-box {
		display: flex;
		flex-direction: row;
		margin: 5em;
		width: 80%;
	}
	.offers2 .offers2-container .offers2-box .offers2-img {
		width: 80%;
		position: absolute;
		min-width: 450px;
		z-index: 1;
		transition: top 0.3s;
	}
	.offers2 .offers2-container .offers2-box .offers2-img-right {
		order: 1;
	}
	.offers2 .offers2-container .offers2-box .offers2-info {
		display: flex;
		flex-direction: column;
		justify-content: start;
		margin: 5em;
	}
} /*# sourceMappingURL=offers2.css.map */

.about-us {
	font-family: 'Roboto', sans-serif;
	position: relative;
	width: 100%;
	height: 750px;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	overflow: hidden;

	.about-us-img {
		display: flex;
		position: absolute;
		top: 300px;

		right: -260px;
		width: 1000px;

		height: auto;
		transition: top 3s;
	}

	.about-us-container {
		display: flex;
		justify-content: flex-start;

		margin: 50px;
		margin-top: 150px;
		margin-left: 150px;
		width: 30%;
		height: 100%;
		.breithBackground2 {
			content: '';
			position: absolute;
			top: 0%;
			left: 0%;
			transform: translate(-50%, -50%);
			width: 1800px; /* Szerokość obszaru */
			height: 1800px; /* Wysokość obszaru */
			background: radial-gradient(
				circle at center,
				rgba(255, 255, 255, 0.705) 0%,
				rgba(255, 255, 255, 0) 50%
			);
			opacity: 0.6; /* Początkowa przezroczystość */
			transition: opacity 0.6s; /* Czas trwania animacji */
		}
		.about-us-text {
			.about-us-p {
				margin: 0;
				text-align: left;
				font-size: 1.5rem;
			}
			.h2Aboutus {
				color: #723d46;
				font-size: 2.8em;
				padding: 10px;
				padding-left: 0px;
			}
			.aboutusP {
				line-height: 1.5;
			}
		}
	}
}
.certy{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	.certy-img {
			margin: 50px;
			max-width: 600px;
			height: auto;
			transition: transform 0.3s;
			cursor: zoom-in;
			&:hover{
				transform: scale(1.5);
			}
		
		}
	
}
.oferts {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #f6ecc4;
	background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
}
.oferts .h2Oferts {
	text-align: center;
	text-transform: uppercase;
	// font-weight: 300;
	// font-family: 'Raleway', sans-serif;
	color: rgba(11, 11, 11, 0.8666666667);
	margin: 50px;
	padding: 0.8em;
	font-size: 2.1rem;
}
.offers-pictures-box .offers-pictures-img {
	transition: transform 1s;
}
.oferts .h3Oferts {
	text-align: center;
	margin-bottom: 120px;
	color: rgba(11, 11, 11, 0.8666666667);
	width: 100%;
	font-size: 1.2rem;
	font-weight: 400;
}

.oferts .oferts-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.oferts .oferts-container .oferts-box {
	height: 210px;
	min-width: 290px;
	max-width: 290px;
	margin: 2em;
	border-radius: 0.5em;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s;
	display: flex;
	justify-content: center;
	text-align: left;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
}
.oferts .oferts-container .oferts-box .h3Box {
	text-align: center;
	width: 80%;
	padding-top: 20px;
	font-size: 1.5rem;
	font-weight: 400;
}
.oferts .oferts-container .oferts-box .h2BxPrice {
	text-align: center;
	padding: 10px;
	font-size: 2rem;
	font-weight: 500;
}
.oferts .oferts-container .oferts-box .h2BxPrice span {
	font-size: 2.3rem;
}
.oferts .oferts-container .oferts-box .oferts-info {
	margin: 11px;
	text-align: center;
	font-size: 1.2rem;
}

.oferts .oferts-container .oferts-box .oferts-info2 {
	color: rgba(21, 21, 21, 0.633);
}
.oferts .oferts-container .oferts-box .boxButton {
	margin: 12px;
	width: 60%;
	height: 20%;
	height: 20%;
	border: none;
	border-radius: 8px;
	background-color: white;
	font-size: 1.1rem;
	font-family: 'Raleway';
	font-weight: 200;
	box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.oferts .oferts-container .oferts-box .boxButtonMiddle {
	margin: 12px;
	width: 60%;
	height: 20%;
	border: none;
	border-radius: 0.5em;
	box-shadow: 0px 0px 3px 0px rgb(230, 101, 122);
	background-color: rgb(228, 101, 122);
	font-size: 1.1rem;
	font-family: 'Raleway';
	font-weight: 200;
	cursor: pointer;
}
.oferts .oferts-container .oferts-box .boxButtonMiddle::before {
	content: '';
	background-color: rgb(210, 29, 210);
}
.oferts .oferts-container .oferts-box .boxButton::before {
	content: '';
	background-color: rgba(186, 179, 179, 0.7960784314);
}
.oferts .oferts-container .oferts-box:hover {
	transform: scale(1.05);
}

@media (min-width: 772px) {
	.oferts .whole-oferts-container {
		display: flex;
		flex-direction: row;
		height: 100%;
		margin-bottom: 150px;
	}

	.oferts .h2Oferts {
		font-size: 2.3rem;
	}

	.offers-pictures-box {
		display: flex;
		justify-content: center;
		align-items: center;

		// margin-left: 100px;
		// overflow: hidden;
	}
	.offers-pictures-box .offers-pictures-img {
		width: 75%;
		height: auto;
	}
	.oferts .oferts-container {
		display: flex;
		flex-direction: column;
		margin-left: 50px;
	}
	.oferts .oferts-container .oferts-box {
		margin-top: 0;
		height: 190px;
		width: 30%;
		min-width: 290px;
		max-width: 290px;
	}
}

.terms-and-conditions {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;

	font-family: 'Roboto', sans-serif;

	.terms-and-conditions-container {
		width: 100%;
		height: 100%;
		background-color: #eec0c6;
		background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
		display: flex;
		flex-direction: column;
		align-items: center;
		.breithBackground3 {
			content: '';
			position: absolute;
			top: 0%;
			left: 0%;
			transform: translate(-50%, -50%);
			width: 1800px; /* Szerokość obszaru */
			height: 1800px; /* Wysokość obszaru */
			background: radial-gradient(
				circle at center,
				rgba(255, 255, 255, 0.705) 0%,
				rgba(255, 255, 255, 0) 50%
			);
			opacity: 0.5; /* Początkowa przezroczystość */
			transition: opacity 0.6s; /* Czas trwania animacji */
		}

		.terms-and-conditions-text-container {
			padding-bottom: 50px;
			.terms-h2 {
				text-align: center;
				font-size: 2.3rem;
				margin: 50px;
			}
			width: 75%;

			li {
				margin: 20px;
				font-size: 1.2rem;
			}
			h3 {
				padding: 30px;
				font-size: 1.5rem;
			}
		}
	}
}

.opinions {
	height: 100%;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	font-family: 'Noto Serif', serif;
	.h2-opinions {
		text-align: center;

		padding: 50px;
		font-size: 2.3rem;
	}
}

.contact {
	// margin-top: 100px;
	width: 100%;
	height: 300px;
	background-color: #f6ecc4;
	background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
	font-family: 'Roboto', sans-serif;

	.h2-contact {
		padding: 50px;
		text-align: center;
		font-size: 2.3rem;
	}
	.contact-box-container {
		display: flex;
		justify-content: center;
		align-items: center;
		.contact-box {
			display: flex;
			justify-content: space-around;
			.contactP {
				margin: 30px;
				font-size: 1.5rem;
				transition: color 0.5s;
				padding-left: 10px;
				.fa-brands {
					font-size: 1.5rem;
					margin-right: 10px !important;
				}

				.fa-square-phone {
					margin-right: 10px;
					font-size: 1.5rem;
				}
				.fa-envelope {
					margin-right: 10px;
				}
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
.footer {
	height: 100%;
	width: 100%;

	font-family: 'Roboto', sans-serif;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

	.footer-container {
		display: flex;
		justify-content: space-around;
		height: 100%;
		// margin-top: 100px;
		.footer-title {
			position: relative;
			margin: 30px;
			margin-right: 350px;

			.ftitle {
				font-size: 2rem;
				text-decoration: none;
				color: #11080fbd;

				span {
					display: block;
					font-size: 2.8rem;
					color: #11080fbd;
				}
			}
		}
		.footer-box-container {
			display: flex;
			justify-content: center;
			align-items: center;
			.footer-box {
				display: flex;
				justify-content: space-around;
				.footerP {
					margin: 30px;
					font-size: 1.5rem;
					transition: color 0.5s;
					.fa-brands {
						font-size: 1.5rem;
					}

					.fa-soild {
						font-size: 1.5rem;
					}
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	.footer-bootom-text {
		display: flex;
		justify-content: center;

		padding: 20px;
		font-size: 1.5rem;
		.footer-year {
			margin-right: 10px;
		}
	}
	.footer-bootom-p {
		text-align: center;
		// margin-top: 10px;
	}
}

@media (min-width: 0px) and (max-width: 992px) {
	.header {
		height: 1000px !important;

		.box-img {
			width: 350px !important;

			top: 260px;
			left: 50%;
			transform: translate(-50%);
			border-radius: 50%;

			border-bottom-right-radius: 80%;
			border-bottom-left-radius: 60%;

			.main-img {
				width: 100%;

				// object-position: 30px 0px;
			}
		}

		.nav-desktop {
			justify-content: center;

			.navbar-title {
				text-align: center;

				margin: 0px !important;
				padding: 20px;
				margin-right: 0px;
				width: 100%;

				.title {
					align-self: center;
					text-align: center;
					margin: 0;

					span {
						margin-left: 10px;
					}
				}
			}
			.nav-bar {
				display: none;

				.nav-item {
					font-size: 1.5rem;
				}
			}
		}

		.nav-mobile {
			display: flex;
			position: fixed;
			padding-top: 50px;
			text-align: center;
			height: 100vh;
			width: 100%;
			top: -1018px;
			right: 0px;
			list-style: none;
			margin-top: -190px;
			transition: transform 0.3s;
			background-color: white;
			overflow: hidden;
			z-index: 20;
			.nav-bar2 {
				.a {
					display: block;
					margin: 1em;
					padding: 10px 30px;
					font-size: 1.2rem;
					color: rgba(11, 11, 11, 0.8666666667);
					text-decoration: none;
					overflow: hidden;
					&:nth-child(1) {
						color: rgb(125, 194, 36);
					}

					/* Kolor dla drugiego elementu */
					&:nth-child(2) {
						color: rgb(128, 0, 85);
					}

					/* Kolor dla trzeciego elementu */
					&:nth-child(3) {
						color: rgb(50, 133, 161);
					}
					&:nth-child(4) {
						color: rgb(255, 0, 195);
					}

					/* Kolor dla drugiego elementu */
					&:nth-child(5) {
						color: yellow;
					}

					/* Kolor dla trzeciego elementu */
					&:nth-child(6) {
						color: royalblue;
					}
					&:nth-child(7) {
						color: rgb(255, 0, 149);
					}
				}
			}
		}

		.nav-mobile-active {
			transform: translateY(1208px);
		}

		.burger {
			display: flex;
			position: fixed;
			top: 56px;
			right: 30px;
			font-size: 45px;
			background: none;
			border: none;
			cursor: pointer;
			color: rgb(145, 156, 147);
			transition: transform 0.3s;
			z-index: 500;
		}

		.header-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 0px;
			margin-top: 390px;
			margin-left: 0px;

			.h1Header {
				margin-left: 0px;

				font-size: 3rem;
				.h1-span {
					top: 150px;
					display: block;
					// color: white;
				}
			}
			.headerP {
				font-size: 1.2rem;
			}
			.headerP2 {
				top: 180px;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				font-size: 1rem;
			}
			.a-contact-button {
				.contact-button {
					top: 245px;
					left: 50%;
					transform: translate(-50%);
				}
			}
		}
	}

	.about-us {
		.about-us-img {
			display: none;
		}
		.h2About-us {
			font-size: 2rem;
			text-align: center;
		}
		.about-us-container {
			justify-content: center;

			margin-top: 0px;
			margin-left: 0px;
			width: 100%;

			.about-us-text {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 90%;
				.about-us-p {
					margin: 20px;
					text-align: center;

					font-size: 1.86rem;
				}
				.h2Aboutus {
					margin: 20px;
					text-align: center;
					font-size: 2.3em;
				}
			
			}
		}
	}

	.contact {
		height: 600px;
		.contact-box-container {
			.contact-box {
				display: flex;
				flex-direction: column;
				.contactP {
					margin: 30px;
				}
			}
		}
	}

	.footer {
		margin-top: -50px;

		overflow: hidden;
		.footer-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 100%;

			.footer-title {
				align-self: center;
				width: 100%;

				padding: 20px;
				margin: 0px;
				margin-right: 0px;

				.ftitle {
					font-size: 1.5rem;

					span {
						font-size: 2rem !important;
						margin-left: 10px;
					}
				}
			}
		}

		.footer-box-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.footer-box {
				display: flex;
				flex-direction: column;
				align-items: center;
				.footerP {
					font-size: 1.5rem;

					.fa-brands {
						font-size: 1.5rem;
					}

					.fa-soild {
						font-size: 1.5rem;
					}
				}
			}
		}

		.footer-bootom-text {
			display: flex;
			justify-content: center;
			padding: 10px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1320px) {
	.about-us {
		.about-us-container {
			.about-us-img {
				right: -450px;
			}
		}
	}
}
@media (min-width: 993px) and (max-width: 1412px) {
	.header {
		.box-img {
			width: 650px;

			top: 350px;
			right: -30px;
			// border-radius: 50%;
		}

		.nav-desktop {
			justify-content: flex-end;

			.navbar-title {
				position: absolute;
				top: 0px;
				left: 30px;

				margin-left: 10px;

				.title {
					text-align: center;

					white-space: nowrap;

					span {
						font-size: 2.8rem;
					}
				}
			}
			.nav-bar {
				.nav-item {
					font-size: 1.2rem;
				}
			}
		}

		.nav-mobile {
			display: none;
		}
		.burger {
			display: none;
		}

		.header-text {
			min-width: 50%;

			.h1Header {
				margin-left: 10px;

				.h1-span {
					display: block;
				}
			}
			.headerP {
				font-size: 1.5rem;
			}
			.headerP2 {
				font-size: 1rem;
			}
		}
	}
}
