// @use './animations.scss';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.header {
	position: relative;
	width: 100%;
	height: 800px;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

	overflow: hidden;
	.box-img {
		position: absolute;
		width: 930px;

		height: auto;
		top: 180px;
		right: -30px;
		// border-radius: 50%;
		border-top-left-radius: 80%;
		border-top-right-radius: 80%;
		border-bottom-right-radius: 0%;
		border-bottom-left-radius: 60%;
		overflow: hidden;

		.main-img {
			width: 100%;
			height: 100%;
			transition: transform 2s;
			// object-position: 30px 0px;
		}
	}
	.breithBackground {
		content: '';
		position: absolute;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		width: 1800px; /* Szerokość obszaru */
		height: 1800px; /* Wysokość obszaru */
		background: radial-gradient(
			circle at center,
			rgba(255, 255, 255, 0.705) 0%,
			rgba(255, 255, 255, 0) 50%
		);
		opacity: 0.5; /* Początkowa przezroczystość */
		transition: opacity 0.6s; /* Czas trwania animacji */
	}
	.nav-desktop {
		display: flex;
		justify-content: space-around;

		.navbar-title {
			position: relative;
			margin: 30px;
			margin-right: 350px;
			.flag {
				position: absolute;
				top: 5px;
				left: 90px;
				width: 50px;
				height: auto;
				animation: ikonAnimation 2s linear infinite;
			}

			.title {
				font-size: 2rem;
				text-decoration: none;
				color: #11080fbd;

				span {
					display: block;
					font-size: 2.8rem;
					margin-left: 10px;
					color: #11080fbd;
				}
			}
			@keyframes ikonAnimation {
				0% {
					transform: translateX(0);
				}
				10% {
					transform: translateX(-2px) translateY(-2px);
				}

				0% {
					transform: translateX(0px) translateY(0px);
				}
			}
		}
		.nav-bar {
			margin: 10px;
			margin-top: 50px;
			margin-left: 50px;
			.nav-item {
				position: relative;
				font-size: 1.5rem;
				margin: 10px;

				text-decoration: none;
				color: #0000009f;

				transition: transform 1s, color 0.2s;

				&:before {
					content: '';
					position: absolute;
					top: -38px;
					left: -5px;
					width: 3px;
					height: 200%;
					background-color: white; // Ustaw tło na transparentne
					transition: top 0.3s;
					color: white;
					opacity: 0;
				}
				&::after {
					content: '';
					color: white;
				}
			}
			.nav-item:hover::before {
				top: -10px;
				color: white; // Dodaj zmianę koloru tekstu
				opacity: 1;
			}
			.nav-item:hover::after {
				color: white; // Dodaj zmianę koloru tekstu
				opacity: 1;
			}
			.nav-item:hover {
				color: white;
			}
		}
	}

	.nav-mobile {
		display: none;
	}
	.burger {
		display: none;
	}

	.header-text {
		position: relative;
		margin: 50px;
		margin-top: 240px;
		margin-left: 100px;
		.h1Header {
			margin-left: 10px;
			color: #723d46;
			font-weight: bold;
			font-size: 3rem;
			.h1-span {
				display: block;
				color: white;
			}
		}
		.headerP {
			font-size: 1.2rem;
			margin: 10px;
		}
		.headerP2 {
			position: absolute;
			top: 200px;
			left: 0px;
			font-size: 1rem;
			margin: 10px;
		}
	}
}
.offers {
	width: 100%;
	height: 100%;
	.h2Offers {
		text-align: center;
		margin: 50px;
		font-size: 2.6rem;
	}
	.h3Offers {
		margin: 50px;
		text-align: center;
	}

	.offers-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.offers-box {
			position: relative;
			flex-wrap: wrap;
			width: 450px;
			height: 500px;
			background-color: pink;
			margin: 30px;
			overflow: hidden;
			background-image: url(/img/Jbudka.jpg);
			background-size: cover;
			// border: 6px solid pink;

			transition: transform 0.5s;

			cursor: pointer;

			border-radius: 20%;
			.shadow-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: 0;
			}
			.offers-box-h3 {
				position: absolute;
				top: 26%; /* Przesunięcie wertykalne do środka elementu */
				left: 50%; /* Przesunięcie poziome do środka elementu */
				transform: translate(-50%, -50%); /* Centrowanie w obu kierunkach */
				margin-top: 0; /* Resetowanie marginesu górnego */
				/* ... pozostałe style ... */
				z-index: 1;
				// margin-top: 50px;
				font-size: 2rem;
				color: white;
				transition: opacity 0.2s 0.2s;
			}
			&:hover {
				transform: scale(1.05);
			}
			&:hover .offersView2 {
				opacity: 1;
				transition-delay: 0.2s;
			}
			&:hover .offers-box-h3 {
				opacity: 0;
			}
			&:hover .offersView3 {
				opacity: 1;
			}
			&:hover .offersView6 {
				opacity: 1;
			}

			.offersView {
				font-size: 1rem;
			}

			.offersView2 {
				position: absolute;
				display: flex;
				justify-content: center;
				opacity: 0;
				width: 100%;
				height: 100%;
				background-image: url(/img/girl-2771936_640.jpg);

				background-size: cover;

				// .offers-box-img{
				transition: opacity 1s;

				//     width: 100%;
				//     height: 100%;
				.shadow-img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.6);
					z-index: 0;
				}
				// }
				.offers-box-p {
					width: 90%;
					margin-top: 100px;
					line-height: 1.5;
					z-index: 1;
					color: white;
				}
				.offers-box-p-2 {
					margin-top: 200px;
				}
				.offers-box-p-3 {
					margin-top: 150px;
				}
			}
			.offersView3 {
				background-image: url(/img/dart-38220_640.png);
				background-size: cover;
				background-position: -200px 0px;
			}
			.offersView6 {
				background-image: url(../img/taxi-1932107_640.jpg);
				background-size: cover;
			}
		}
		.offers-box2 {
			margin-top: 100px;
			background-image: url(/img/J3.jpg);
		}
		.offers-box3 {
			margin-top: 200px;
			background-image: url(/img/england.jpg);
			background-position: -50px 0;
		}
	}
}
.about-us {
	position: relative;
	width: 100%;
	height: 750px;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	overflow: hidden;

	.about-us-img {
		position: absolute;
		top: 300px;

		right: -260px;
		width: 1000px;

		height: auto;
		transition: top 3s;
	}
	.h2About-us {
		text-align: center;
	}
	.about-us-container {
		display: flex;
		justify-content: flex-start;

		margin: 50px;
		margin-top: 150px;
		margin-left: 150px;
		width: 30%;
		height: 100%;
		.breithBackground2 {
			content: '';
			position: absolute;
			top: 0%;
			left: 0%;
			transform: translate(-50%, -50%);
			width: 1800px; /* Szerokość obszaru */
			height: 1800px; /* Wysokość obszaru */
			background: radial-gradient(
				circle at center,
				rgba(255, 255, 255, 0.705) 0%,
				rgba(255, 255, 255, 0) 50%
			);
			opacity: 0.6; /* Początkowa przezroczystość */
			transition: opacity 0.6s; /* Czas trwania animacji */
		}
		.about-us-text {
			.about-us-p {
				text-align: left;
				font-size: 1.5rem;
			}
			.h3Aboutus {
				font-size: 2.8em;
				padding: 10px;
				padding-left: 0px;
			}
			.aboutusP {
				line-height: 1.5;
			}
		}
	}
}

.prices {
	display: flex;
	flex-direction: column;
	height: 800px;
	width: 100%;
	.prices-h2 {
		text-align: center;
		margin: 50px;
		font-size: 2.3rem;
	}
	.prices-container {
		display: flex;
		justify-content: center;
		.card {
			position: relative;
			min-width: 300px;
			max-width: 350px;
			height: 500px;
			margin: 20px 80px;
			perspective: 800px;

			cursor: pointer;
			.card-h3 {
				position: absolute;
				bottom: -80px;
				left: 50%;
				transform: translate(-50%);
				font-size: 2rem;
			}
		}

		.img {
			width: 100%;
			height: 100%;
			border-radius: 15px;
			background-position: center;
			background-size: cover;
			transition: 0.8s;
		}

		.one {
			background-image: url(/img/girl-2771936_640.jpg);
		}
		.two {
			background-image: url(/img/J2.jpg);
		}
		.three {
			background-image: url(/img/J3.jpg);
		}

		.text {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 30px;
			border-radius: 15px;
			text-align: center;
			background-image: linear-gradient(315deg, #fee2f8, #dcf8cf 74%);
			opacity: 0;
			transition: 0.8s;
		}

		h3 {
			margin-top: 260px;
			margin-bottom: 20px;
		}

		.text-one {
			transform: rotateX(-180deg);
		}
		.text-two {
			transform: rotateY(-180deg);
		}

		.card:hover .text {
			transform: rotate(0);
			opacity: 1;
		}
		.card:hover .one {
			transform: rotateX(180deg);
			opacity: 0;
		}
		.card:hover .two {
			transform: rotateY(-180deg);
			opacity: 0;
		}
		.card:hover .three {
			animation: up 0.8s;
		}
		.card:hover .text-three {
			animation: down 0.8s;
		}

		@keyframes up {
			0% {
				transform: translateY(0);
				opacity: 1;
			}

			50% {
				transform: translateY(-60%);
			}

			80% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		@keyframes down {
			0% {
				transform: translateY(0);
				z-index: -1;
			}

			50% {
				transform: translateY(60%);
				z-index: -1;
			}
			100% {
				z-index: 1;
			}
		}
	}
}
.terms-and-conditions {
	position: relative;
	width: 100%;
	height: 100%x;

	overflow: hidden;

	.terms-and-conditions-container {
		width: 100%;
		height: 100%;
		background-color: #eec0c6;
		background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
		display: flex;
		flex-direction: column;
		align-items: center;
		.breithBackground3 {
			content: '';
			position: absolute;
			top: 0%;
			left: 0%;
			transform: translate(-50%, -50%);
			width: 1800px; /* Szerokość obszaru */
			height: 1800px; /* Wysokość obszaru */
			background: radial-gradient(
				circle at center,
				rgba(255, 255, 255, 0.705) 0%,
				rgba(255, 255, 255, 0) 50%
			);
			opacity: 0.5; /* Początkowa przezroczystość */
			transition: opacity 0.6s; /* Czas trwania animacji */
		}

		.terms-and-conditions-text-container {
			.terms-h2 {
				text-align: center;
				font-size: 2.3rem;
				margin: 50px;
			}
			width: 75%;

			li {
				margin: 20px;
				font-size: 1.2rem;
			}
		}
	}
}

.opinions {
	.h2-opinions {
		text-align: center;
		margin: 50px;
		font-size: 2.3rem;
	}
}
.footer {
	width: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

	.footer-container {
		display: flex;
		justify-content: space-around;
		margin-top: 100px;
		.navbar-title {
			position: relative;
			margin: 30px;
			margin-right: 350px;
			.flag {
				position: absolute;
				top: 5px;
				left: 105px;
				width: 80px;
				height: auto;
				animation: ikonAnimation 2s linear infinite;
			}

			.title {
				font-size: 2rem;
				text-decoration: none;
				color: #11080fbd;

				span {
					display: block;
					font-size: 2.8rem;
					margin-left: 10px;
					color: #11080fbd;
				}
			}
		}
	}

	.footer-box-container {
		display: flex;
		justify-content: center;
		align-items: center;
		.footer-box {
			display: flex;
			justify-content: space-around;
			.footerP {
				margin: 30px;
				font-size: 1.5rem;
				transition: color 0.5s;
				.fa-brands {
					font-size: 1.5rem;
				}

				.fa-soild {
					
					font-size: 1.5rem;
				}
				&:hover{
					color: #fff;
				}
			}
		}
	}

	.footer-bootom-text {
		display: flex;
		justify-content: center;
		padding: 10px;
		font-size: 1.5rem;
		.footer-year {
			margin-right: 10px;
		}
	}
}
@media(max-width: 576px){
	.header {
		position: relative;
		width: 100%;
		height: 1200px;
	
	
		overflow: hidden;
		.box-img {
	
			position: absolute;
			width: 90%;
	
			height: auto;
			top: 180px;
			left: 50%;
			transform: translate(-50%);
			// border-radius: 50%;
			border-top-left-radius: 80%;
			border-top-right-radius: 80%;
			border-bottom-right-radius: 80%;
			border-bottom-left-radius: 60%;
			overflow: hidden;
	
			.main-img {
				width: 100%;
				height: 100%;
				transition: transform 2s;
				// object-position: 30px 0px;
			}
		}
		.breithBackground {
			content: '';
			position: absolute;
			top: 0%;
			left: 0%;
			transform: translate(-50%, -50%);
			width: 1800px; /* Szerokość obszaru */
			height: 1800px; /* Wysokość obszaru */
			background: radial-gradient(
				circle at center,
				rgba(255, 255, 255, 0.705) 0%,
				rgba(255, 255, 255, 0) 50%
			);
			opacity: 0.5; /* Początkowa przezroczystość */
			transition: opacity 0.6s; /* Czas trwania animacji */
		}
		.nav-desktop {
			display: flex;
			justify-content: center;
	
			.navbar-title {
				position: relative;
				margin: 30px;
				margin-right: 0px;
				.flag {
					position: absolute;
					top: 5px;
					left: 90px;
					width: 50px;
					height: auto;
					animation: ikonAnimation 2s linear infinite;
				}
	
				.title {
					font-size: 2rem;
					text-decoration: none;
					color: #11080fbd;
	
					span {
						display: block;
						font-size: 2.8rem;
						margin-left: 10px;
						color: #11080fbd;
					}
				}
				@keyframes ikonAnimation {
					0% {
						transform: translateX(0);
					}
					10% {
						transform: translateX(-2px) translateY(-2px);
					}
	
					0% {
						transform: translateX(0px) translateY(0px);
					}
				}
			}
			.nav-bar {
				display: none;
				margin: 10px;
				margin-top: 50px;
				margin-left: 50px;
				.nav-item {
					position: relative;
					font-size: 1.5rem;
					margin: 10px;
	
					text-decoration: none;
					color: #0000009f;
	
					transition: transform 1s, color 0.2s;
	
					&:before {
						content: '';
						position: absolute;
						top: -38px;
						left: -5px;
						width: 3px;
						height: 200%;
						background-color: white; // Ustaw tło na transparentne
						transition: top 0.3s;
						color: white;
						opacity: 0;
					}
					&::after {
						content: '';
						color: white;
					}
				}
				.nav-item:hover::before {
					top: -10px;
					color: white; // Dodaj zmianę koloru tekstu
					opacity: 1;
				}
				.nav-item:hover::after {
					color: white; // Dodaj zmianę koloru tekstu
					opacity: 1;
				}
				.nav-item:hover {
					color: white;
				}
			}
		}
	
		.nav-mobile {
			display: none;
		}
		.burger {
			display: none;
		}
	
		.header-text {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			// margin: 30px;
			margin-top: 390px !important;
			margin-left: 0px;

			width: 100%;
			.h1Header {
				margin-left: 0px;
				color: #723d46;
				font-weight: bold;
				font-size: 3rem;
				.h1-span {
					display: block;
					color: white;
				}
			}
			.headerP {
				font-size: 1.2rem;
				margin: 10px;
			}
			.headerP2 {
				position: absolute;
				top: 230px;
				left: 50%;
				transform: translate(-50%);
				font-size: 1rem;
			
				width: 90%;
			}
		}
	}
}
@media (max-width: 810px){
	.header {
		position: relative;
		width: 100%;
		height: 1200px;
	
	
		overflow: hidden;
		.box-img {
	
			position: absolute;
			width: 90%;
	
			height: auto;
			top: 180px;
			left: 50%;
			transform: translate(-50%);
			// border-radius: 50%;
			border-top-left-radius: 80%;
			border-top-right-radius: 80%;
			border-bottom-right-radius: 80%;
			border-bottom-left-radius: 60%;
			overflow: hidden;
	
			.main-img {
				width: 100%;
				height: 100%;
				transition: transform 2s;
				// object-position: 30px 0px;
			}
		}
		.breithBackground {
			content: '';
			position: absolute;
			top: 0%;
			left: 0%;
			transform: translate(-50%, -50%);
			width: 1800px; /* Szerokość obszaru */
			height: 1800px; /* Wysokość obszaru */
			background: radial-gradient(
				circle at center,
				rgba(255, 255, 255, 0.705) 0%,
				rgba(255, 255, 255, 0) 50%
			);
			opacity: 0.5; /* Początkowa przezroczystość */
			transition: opacity 0.6s; /* Czas trwania animacji */
		}
		.nav-desktop {
			display: flex;
			justify-content: center;
	
			.navbar-title {display: flex;
				position: relative;
				margin: 30px;
				margin-right: 50px;
				.flag {
					position: absolute;
					top: 5px;
					left: 90px;
					width: 50px;
					height: auto;
					animation: ikonAnimation 2s linear infinite;
				}
	
				.title {
					font-size: 2rem;
					text-decoration: none;
					color: #11080fbd;
	
					span {
						display: block;
						font-size: 2.8rem;
						margin-left: 10px;
						color: #11080fbd;
					}
				}
				@keyframes ikonAnimation {
					0% {
						transform: translateX(0);
					}
					10% {
						transform: translateX(-2px) translateY(-2px);
					}
	
					0% {
						transform: translateX(0px) translateY(0px);
					}
				}
			}
			.nav-bar {
				display: none;
				margin: 10px;
				margin-top: 50px;
				margin-left: 50px;
				.nav-item {
					position: relative;
					font-size: 1.5rem;
					margin: 10px;
	
					text-decoration: none;
					color: #0000009f;
	
					transition: transform 1s, color 0.2s;
	
					&:before {
						content: '';
						position: absolute;
						top: -38px;
						left: -5px;
						width: 3px;
						height: 200%;
						background-color: white; // Ustaw tło na transparentne
						transition: top 0.3s;
						color: white;
						opacity: 0;
					}
					&::after {
						content: '';
						color: white;
					}
				}
				.nav-item:hover::before {
					top: -10px;
					color: white; // Dodaj zmianę koloru tekstu
					opacity: 1;
				}
				.nav-item:hover::after {
					color: white; // Dodaj zmianę koloru tekstu
					opacity: 1;
				}
				.nav-item:hover {
					color: white;
				}
			}
		}
	
		.nav-mobile {
			display: none;
		}
		.burger {
			display: none;
		}
	
		.header-text {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 50px;
			margin-top: 600px;
			margin-left: 0px;
			.h1Header {
				margin-left: 0px;
				color: #723d46;
				font-weight: bold;
				font-size: 3rem;
				.h1-span {
					display: block;
					color: white;
				}
			}
			.headerP {
				font-size: 1.2rem;
				margin: 10px;
			}
			.headerP2 {
				position: absolute;
				top: 230px;
				left: 50%;
				transform: translate(-50%);
				font-size: 1rem;
				margin: 10px;
			}
		}
	}
	.offers {
		width: 100%;
		height: 100%;
		.h2Offers {
			text-align: center;
			margin: 50px;
			font-size: 2.6rem;
		}
		.h3Offers {
			margin: 50px;
			text-align: center;
		}
	
		.offers-container {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
	
			.offers-box {
				position: relative;
				flex-wrap: wrap;
				width: 450px;
				height: 500px;
				background-color: pink;
				margin: 30px;
				overflow: hidden;
				background-image: url(/img/Jbudka.jpg);
				background-size: cover;
				// border: 6px solid pink;
	
				transition: transform 0.5s;
	
				cursor: pointer;
	
				border-radius: 20%;
				.shadow-img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.6);
					z-index: 0;
				}
				.offers-box-h3 {
					position: absolute;
					top: 26%; /* Przesunięcie wertykalne do środka elementu */
					left: 50%; /* Przesunięcie poziome do środka elementu */
					transform: translate(-50%, -50%); /* Centrowanie w obu kierunkach */
					margin-top: 0; /* Resetowanie marginesu górnego */
					/* ... pozostałe style ... */
					z-index: 1;
					// margin-top: 50px;
					font-size: 2rem;
					color: white;
					transition: opacity 0.2s 0.2s;
				}
				&:hover {
					transform: scale(1.05);
				}
				&:hover .offersView2 {
					opacity: 1;
					transition-delay: 0.2s;
				}
				&:hover .offers-box-h3 {
					opacity: 0;
				}
				&:hover .offersView3 {
					opacity: 1;
				}
				&:hover .offersView6 {
					opacity: 1;
				}
	
				.offersView {
					font-size: 1rem;
				}
	
				.offersView2 {
					position: absolute;
					display: flex;
					justify-content: center;
					opacity: 0;
					width: 100%;
					height: 100%;
					background-image: url(/img/girl-2771936_640.jpg);
	
					background-size: cover;
	
					// .offers-box-img{
					transition: opacity 1s;
	
					//     width: 100%;
					//     height: 100%;
					.shadow-img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.6);
						z-index: 0;
					}
					// }
					.offers-box-p {
						width: 90%;
						margin-top: 100px;
						line-height: 1.5;
						z-index: 1;
						color: white;
					}
					.offers-box-p-2 {
						margin-top: 200px;
					}
					.offers-box-p-3 {
						margin-top: 150px;
					}
				}
				.offersView3 {
					background-image: url(/img/dart-38220_640.png);
					background-size: cover;
					background-position: -200px 0px;
				}
				.offersView6 {
					background-image: url(../img/taxi-1932107_640.jpg);
					background-size: cover;
				}
			}
			.offers-box2 {
				margin-top: 100px;
				background-image: url(/img/J3.jpg);
			}
			.offers-box3 {
				margin-top: 200px;
				background-image: url(/img/england.jpg);
				background-position: -50px 0;
			}
		}
	}
	.about-us {
		position: relative;
		width: 100%;
		height: 750px;
		background-color: #eec0c6;
		background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
		overflow: hidden;
	
		.about-us-img {
			position: absolute;
			top: 300px;
	
			right: -260px;
			width: 1000px;
	
			height: auto;
			transition: top 3s;
		}
		.h2About-us {
			text-align: center;
		}
		.about-us-container {
			display: flex;
			justify-content: flex-start;
	
			margin: 50px;
			margin-top: 150px;
			margin-left: 150px;
			width: 30%;
			height: 100%;
			.breithBackground2 {
				content: '';
				position: absolute;
				top: 0%;
				left: 0%;
				transform: translate(-50%, -50%);
				width: 1800px; /* Szerokość obszaru */
				height: 1800px; /* Wysokość obszaru */
				background: radial-gradient(
					circle at center,
					rgba(255, 255, 255, 0.705) 0%,
					rgba(255, 255, 255, 0) 50%
				);
				opacity: 0.6; /* Początkowa przezroczystość */
				transition: opacity 0.6s; /* Czas trwania animacji */
			}
			.about-us-text {
				.about-us-p {
					text-align: left;
					font-size: 1.5rem;
				}
				.h3Aboutus {
					font-size: 2.8em;
					padding: 10px;
					padding-left: 0px;
				}
				.aboutusP {
					line-height: 1.5;
				}
			}
		}
	}
	
	.prices {
		display: flex;
		flex-direction: column;
		height: 800px;
		width: 100%;
		.prices-h2 {
			text-align: center;
			margin: 50px;
			font-size: 2.3rem;
		}
		.prices-container {
			display: flex;
			justify-content: center;
			.card {
				position: relative;
				min-width: 300px;
				max-width: 350px;
				height: 500px;
				margin: 20px 80px;
				perspective: 800px;
	
				cursor: pointer;
				.card-h3 {
					position: absolute;
					bottom: -80px;
					left: 50%;
					transform: translate(-50%);
					font-size: 2rem;
				}
			}
	
			.img {
				width: 100%;
				height: 100%;
				border-radius: 15px;
				background-position: center;
				background-size: cover;
				transition: 0.8s;
			}
	
			.one {
				background-image: url(/img/girl-2771936_640.jpg);
			}
			.two {
				background-image: url(/img/J2.jpg);
			}
			.three {
				background-image: url(/img/J3.jpg);
			}
	
			.text {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 30px;
				border-radius: 15px;
				text-align: center;
				background-image: linear-gradient(315deg, #fee2f8, #dcf8cf 74%);
				opacity: 0;
				transition: 0.8s;
			}
	
			h3 {
				margin-top: 260px;
				margin-bottom: 20px;
			}
	
			.text-one {
				transform: rotateX(-180deg);
			}
			.text-two {
				transform: rotateY(-180deg);
			}
	
			.card:hover .text {
				transform: rotate(0);
				opacity: 1;
			}
			.card:hover .one {
				transform: rotateX(180deg);
				opacity: 0;
			}
			.card:hover .two {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.card:hover .three {
				animation: up 0.8s;
			}
			.card:hover .text-three {
				animation: down 0.8s;
			}
	
			@keyframes up {
				0% {
					transform: translateY(0);
					opacity: 1;
				}
	
				50% {
					transform: translateY(-60%);
				}
	
				80% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
	
			@keyframes down {
				0% {
					transform: translateY(0);
					z-index: -1;
				}
	
				50% {
					transform: translateY(60%);
					z-index: -1;
				}
				100% {
					z-index: 1;
				}
			}
		}
	}
	.terms-and-conditions {
		position: relative;
		width: 100%;
		height: 100%x;
	
		overflow: hidden;
	
		.terms-and-conditions-container {
			width: 100%;
			height: 100%;
			background-color: #eec0c6;
			background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
			display: flex;
			flex-direction: column;
			align-items: center;
			.breithBackground3 {
				content: '';
				position: absolute;
				top: 0%;
				left: 0%;
				transform: translate(-50%, -50%);
				width: 1800px; /* Szerokość obszaru */
				height: 1800px; /* Wysokość obszaru */
				background: radial-gradient(
					circle at center,
					rgba(255, 255, 255, 0.705) 0%,
					rgba(255, 255, 255, 0) 50%
				);
				opacity: 0.5; /* Początkowa przezroczystość */
				transition: opacity 0.6s; /* Czas trwania animacji */
			}
	
			.terms-and-conditions-text-container {
				.terms-h2 {
					text-align: center;
					font-size: 2.3rem;
					margin: 50px;
				}
				width: 75%;
	
				li {
					margin: 20px;
					font-size: 1.2rem;
				}
			}
		}
	}
	
	.opinions {
		.h2-opinions {
			text-align: center;
			margin: 50px;
			font-size: 2.3rem;
		}
	}
	.footer {
		width: 100%;
		height: 100%;
		width: 100%;
		height: 100%;
		background-color: #eec0c6;
		background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
	
		.footer-container {
			display: flex;
			justify-content: space-around;
			margin-top: 100px;
			.navbar-title {
				position: relative;
				margin: 30px;
				margin-right: 350px;
				.flag {
					position: absolute;
					top: 5px;
					left: 105px;
					width: 80px;
					height: auto;
					animation: ikonAnimation 2s linear infinite;
				}
	
				.title {
					font-size: 2rem;
					text-decoration: none;
					color: #11080fbd;
	
					span {
						display: block;
						font-size: 2.8rem;
						margin-left: 10px;
						color: #11080fbd;
					}
				}
			}
		}
	
		.footer-box-container {
			display: flex;
			justify-content: center;
			align-items: center;
			.footer-box {
				display: flex;
				justify-content: space-around;
				.footerP {
					margin: 30px;
					font-size: 1.5rem;
					transition: color 0.5s;
					.fa-brands {
						font-size: 1.5rem;
					}
	
					.fa-soild {
						
						font-size: 1.5rem;
					}
					&:hover{
						color: #fff;
					}
				}
			}
		}
	
		.footer-bootom-text {
			display: flex;
			justify-content: center;
			padding: 10px;
			font-size: 1.5rem;
			.footer-year {
				margin-right: 10px;
			}
		}
	}
}